article > header > .meta-info {
	$text-color: mix($fg, $bg, 40%);

	@include inline-block-list;
	@include mini-margin;
	color: $text-color;


	ul {
		@include inline-list;
	}

	ul li {
		vertical-align: top;

		&::after {
			content: "\B7";
			margin-left: .1em;
		}

		&:last-child::after {
			display: none;
		}
	}
}

article > footer {
	$text-color: desaturate(mix($fg, $bg, 40%), 30%);
	$tag-bg: mix($fg, $bg, 10%);
	$font-size: em(14/16);

	@include expand-block($font-size);
	@include border-radius(6px);
	font-size: $font-size;
	color: $text-color;
	background-color: lighten($bg, 3%);

	a {
		@include border-radius(3px);
		padding: .2em .5em;
		color: mix($fg, $bg, 60%);
		font-family: monospace;
	}

	a,
	a:visited {
		background-color: $tag-bg;
	}

	a:hover {
		color: $bg;
		background-color: $accent;
	}

	ul {
		@include inline-list;
	}

	ul li {
		margin-left: .3em;
	}
}