// Basic
$fg: #3e3e1f;
$bg: #f7f7ef;
$base: #268bd2;
$darkest: darken($base, 10%);
$dark: darken($base, 5%);
$light: lighten($base, 5%);
$lightest: lighten($base, 10%);
$accent: #e35655;

// Semantic
$link: $base;
$visited: $dark;
$focus: $lightest;
$hover: $darkest;
$mark: rgb(255, 238, 0);
$code-color: mix(cyan,$bg,20%);

// Header
$header-fg: #fff;
$header-bg: #9fd1da;

// Table
$table-border-color: mix($fg,$bg,10%);
$table-th-bg: mix($fg,$bg,5%);