.elsewhere {
	$size: em($golden-ratio);
	font-size: $size;
	text-align: center;

	ul {
		@include inline-block-list;
	}

	ul li {
		margin-right: .2em;
		padding-bottom: 1px;
	}

	ul li a {
		@include border-radius(50%);
		display: block;
		width: $size;
		height: $size;
		overflow: hidden;
		opacity: .5;
		color: $bg;
		background-color: mix($fg, $bg, 30%);
	}

	ul li a:hover {
		opacity: 1;
	}

	ul li a::before,
	ul li a[href*="//www.flickr.com/"]::after {
		@include icon-FontAwesome;
		display: block;
		width: $size;
		height: $size;
		line-height: $size + 0.1em;
		text-align: center;
	}

	a[href*="//www.facebook.com"] {
		color: #fff;
		background-color: $bc-facebook;
		&::before {
			content: $facebook;
		}
	}

	a[href*="//twitter.com"] {
		color: #fff;
		background-color: $bc-twitter;
		&::before {
			content: $twitter;
		}
	}

	a[href*="//plus.google.com"] {
		color: #fff;
		background-color: $bc-googleplus;
		&::before {
			content: $google-plus;
		}
	}

	a[href*="//github.com"] {
		color: #fff;
		background-color: $bc-github;
		&::before {
			content: $github;
		}
	}

	a[href*="//pinterest.com"] {
		color: #fff;
		background-color: $bc-pinterest;
		&::before {
			content: $pinterest;
		}
	}

	a[href*="//dribbble.com"] {
		color: #fff;
		background-color: $bc-dribbble;
		&::before {
			content: $dribbble;
		}
	}

	a[href*="//www.flickr.com/"] {
		background-color: #fff;
		position: relative;

		&::before, &::after {
			content: $circle;
			font-size: em($golden-ratio / 3);
		}

		&::before {
			margin: .75em .25em;
			color: $bc-flickr-blue;
		}

		&::after {
			position: absolute;
			right: .25em;
			top: .75em;
			color: $bc-flickr-pink;
		}
	}
}