article .share {
    @include default-margin;

    ul {
        @include inline-block-list;
    }

    ul li {
        vertical-align: top;
        margin-right: .3em;

        &:last-child {
            margin-right: 0;
        }
    }
}