// Ratio
$golden-ratio: 1.61803;

// Line Height
$default-line-height: $golden-ratio;
$heading-line-height: 1.25;

// Indent
$default-indent: em(pow($golden-ratio, 2));

// Margin
$default-margin: em($default-line-height);
$heading-margin: ($default-margin * 2);
$primary-heading-margin: ($heading-margin * 2);

// Layout Size
$gap: em($golden-ratio);
$gutter: em($golden-ratio);
$content-width: 40em;

// Text Size
$primary-text-size-ratio: (16px / 16px);
$secondary-text-size-ratio: (30px / 16px);

// Heading Size
$h1-ratio: ($primary-text-size-ratio * pow($golden-ratio, 2));
$h2-ratio: $secondary-text-size-ratio;
$h3-ratio: ($primary-text-size-ratio * $golden-ratio);
$h4-ratio: ($secondary-text-size-ratio / $golden-ratio);
$h5-ratio: $primary-text-size-ratio;
$h6-ratio: ($secondary-text-size-ratio / pow($golden-ratio, 2));