.pull-left {
    margin: $default-margin $default-margin 0 0;
    float: left;
    max-width: 33.33%;
}

.pull-right {
    margin: $default-margin 0 0 $default-margin;
    float: right;
    max-width: 33.33%;
}

.well {
    @include border-radius(6px);
    padding: 1em em($golden-ratio);
    background-color: mix($fg, $bg, 5%);
}

.table-of-contents {
    @extend .well;
    list-style-position: inside;

    a {
        text-decoration: none;
    }
}