#nav-latest-entries {
  h2::before {
    content: $file-text;
  }
  li span {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color: mix($fg, $bg, 40%);
  }
  @include mq-middle {
    li {
      position: relative;
      padding-right: 5em + $gap;
      margin-bottom: 1em;
    }
    li:last-child {
      margin-bottom: 0;
    }
    li span {
      display: inline;
    }
  }
}

#nav-categories {
  h2::before {
    content: $th;
  }
  ul {
    list-style: none;
    padding-left: 0;
    font-size: monospace;
  }
  @include mq-middle {
    ul {
      @include pie-clearfix;
    }
    ul li {
      $num: 3;
      @include box-sizing(border-box);
      float: left;
      width: percentage(1 / $num);
      padding-right: $gutter;
      &:nth-child(#{$num}n) {
        padding-right: 0;
      }
    }
  }
}

#nav-tags {
  display: none;
  h2::before {
    content: $tags;
  }
  ul {
    list-style: none;
    padding-left: 0;
    font-size: monospace;
  }
  li {
    @include inline-block;
    vertical-align: baseline;
    margin-bottom: 0;
  }
  a {
    @include border-radius(3px);
    display: block;
    padding: .2em;
  }
  a:hover {
    color: $bg;
    background-color: $fg;
  }
  @include mq-middle {
    display: block;
  }
}

#nav-archives {
  h2::before {
    content: $calendar;
  }
  ol {
    list-style: none;
    padding-left: 0;
    font-size: monospace;
  }
  @include mq-middle {
    ol {
      @include pie-clearfix;
    }
    ol li {
      $num: 4;
      box-sizing: border-box;
      float: left;
      width: percentage(1 / $num);
      padding-right: $gutter;
      &:nth-child(#{$num}n) {
        padding-right: 0;
      }
    }
  }
}
