#not_found {
  padding-bottom: 14em;
  position: relative;
  &::before {
    @include icon($compass);
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -.5em;
    font-size: 12em;
    opacity: .2;
    line-height: 1;
  }
}
